.landing-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  .title,
  .body,
  footer {
    width: 100%;
    margin: 10em auto;
    background-color: green;
  }
  .body {
    background-color: orange;
  }
  footer {
    background-color: deepskyblue;
  }
}
